*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 60px;
    width: 100%;
    /* background-color: blue; */
}
nav>section{
    height: inherit;
    width: 85%;
    /* border: 2px solid navy; */
    /* background-color: blanchedalmond;  */
    display: flex
}
nav>section>article{
    font-size: 20px;
    height: inherit;
    width: 50%;
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
}
nav>section>article>a{
    height: inherit;
    width: inherit;
}
nav>section>article>a>div{
    height: inherit;
    width: 70%;
    /* border: 2px solid black; */
    background-image: url(./images/logo\ for\ layout.png);
    background-size: 100% 100%;
}
nav>section>div{
    height: inherit;
    width: 40%;
    margin-left: 4%;
    /* border: 2px solid red; */
}
nav>section>div>ul{  /* To adjust the width of the nav bar right side elements*/
    /* border: 2px solid black; */
    width: 100%;
    height: inherit;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
nav>section>div>ul>li{
    display: flex;
    /* border: 2px solid lawngreen; */
}
nav>section>div>ul>li>a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family:sans-serif;
    font-weight: 500;
    /* border: 1px solid black; */
    border-radius: 13px;
}
nav>section>div>ul>li :hover{
    /* border-left: 4px solid blue; */
    /* padding: 4px; */
    /* transform: translateY(-2px) translateX(-2px); */
    /* box-shadow: 2px 3px 5px 0 black; */
    color: gray;
    /* transition: .5s; */
    /* background-color: blue; */
}
aside>video{
    width: 100%;
    height: 465px;
    margin-bottom: 10px;
}

footer{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
    margin-bottom: 10px;
}
footer>aside{
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid pink; */
}
footer>aside>article{
    display: flex;
    align-items: center;
    /* border: 2px solid rebeccapurple; */
}
footer>aside>article>p{
    /* border: 2px solid yellow; */
    font-size: 15px;
    font-family: sans-serif;
}

footer>aside>div{
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
}
footer>aside>div>p{
    /* border: 2px solid greenyellow; */
    font-size: 15px;
    font-family: sans-serif;
}
footer>aside>div>p>a{
    text-decoration: none;
    color: black;
}
/* footer>div>ul{ */
    /* width: 80%; */
    /* border: 2px solid red; */
    /* align-items: center; */
    /* display: flex;
    list-style: none; */
/* } */
/* footer>div>ul>li{ */
    /* width: 9%; */
    /* padding-left: 20px; */
    /* border: 2px solid green; */
/* } */